apiVersion: v1
kind: Service
metadata:
  name: mysql-exporter
  namespace: monitoring
  labels:
    app: mysql-exporter
spec:
  type: LoadBalancer
  ports:
    - port: 9104
      targetPort: 9104
  selector:
    app: mysql-exporter

